<h1>Hope this helps :)</h1>

<div class="arbitrary-container">
  <div class="book">
    <div class="book__left-pane">
      <div
        class="widget"
        *ngFor="let widget of leftWidgets"
        [ngClass]="{
          'thumbnail-widget': widget.type === 'thumbnail',
          'icon-widget': widget.type === 'icon',
          'list-widget': widget.type === 'list'
        }"
      >
        {{ widget.type }}
      </div>
    </div>
    <div class="book__right-pane">
      <div
        class="widget"
        *ngFor="let widget of rightWidgets"
        [ngClass]="{
          'thumbnail-widget': widget.type === 'thumbnail',
          'icon-widget': widget.type === 'icon',
          'list-widget': widget.type === 'list'
        }"
      >
        {{ widget.type }}
      </div>
    </div>
  </div>
</div>

<button (click)="addWidget('left')">Add left widget</button>
<button (click)="addWidget('right')">Add right widget</button>
